<!DOCTYPE html>
<html lang="en">

    {% load static %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UFT-8">
        <title>DMOProductions.co.uk</title>
        {% load static %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>

        <header>

            <div class="container">

                <section class="top-bar">
                    {% load static %}

                    <div class="logo-group">
                        <img src="{% static 'images/logos/DMO-2.png' %}" alt="DMO logo" width="75">
                        <h1>DMOProductions.co.uk</h1>
                    </div>

                    <nav class="nav-links">
                        <a href="{% url 'dmoapp' %}">Home</a>
                        <a href="{% url 'tunes' %}" class="active">Tunes</a>
                        <a href="#">Riddims</a>
                        <a href="#">About Us</a>
                        <a href="#">Contact Us</a>
                    </nav>

                </section>

            </div>

        </header>

        <h1>Tunes page mush</h1>
    </body>